<template>
  <div id="content">
    <Breadcrumb>
      <BreadcrumbItem to="/">Home</BreadcrumbItem>
      <BreadcrumbItem to="/routes">Route</BreadcrumbItem>
    </Breadcrumb>
    <Row>
      <Col span="12"> <h1>Route List:</h1></Col>
      <Col
        span="12"
        style="text-align: right; position: absolute; top: 30%; right: 0px"
      >
        <Button type="primary" size="small" @click="addRoute">Add Route</Button>
      </Col>
    </Row>
    <RouteTable v-bind:routes="routes"></RouteTable>
    <div class="page">
      <ButtonGroup>
        <Button
          type="primary"
          icon="ios-skip-backward"
          @click="previous"
          :disabled="offsetStack.length === 0"
        ></Button>
        <Button
          type="primary"
          icon="ios-skip-forward"
          @click="next"
          :disabled="!offset"
        ></Button>
      </ButtonGroup>
    </div>
  </div>
</template>

<script>
import EventBus from "@/event-bus";
import RouteTable from "@/components/services/RouteTable";
export default {
  name: "RouterList",
  data() {
    return {
      routes: [],
      services: [],
      offset: "",
      offsetStack: [],
    };
  },
  components: {
    RouteTable,
  },
  mounted() {
    EventBus.$emit("changePage", {
      activeName: "route-list",
      openNames: ["route"],
    });
    this.loadRoutes();

    EventBus.$on("routeChange", ({ routeId }) => {
      for (let route of this.routes) {
        if (route.id === routeId) {
          this.loadRoutes();
          break;
        }
      }
    });
  },
  methods: {
    addRoute() {
      this.$router.push({ path: `/routes/add` });
    },
    async loadRoutes(offset) {
      let url;
      if (offset) {
        url = "/routes?offset=" + offset + "&size=10";
      } else {
        url = "/routes?size=10";
      }
      await this.createGridValues(url);

      // this.routes = this.localRoutes;
      this.offset = this.localOffset;
    },
    async createGridValues(url) {
      await this.getServices();
      await this.getRoutes(url);

      if (this.localRoutes !== undefined) {
        this.localRoutes.forEach(async (route) => {
          this.services.map((service) => {
            if (service.id === route.service.id) {
              route["serviceName"] = service.name;
              this.routes.push(route);
            }
          });
        });
      }
    },
    async getServices() {
      await new Promise((resolve) =>
          this._get('/services', response => {
              const services = response.data.data;
              this.services = services;

              resolve(true);
          })
      );
    },
    
    async getRoutes(url) {
      await new Promise((resolve) =>
        this._get(url, (response) => {
          
          this.localRoutes = response.data.data;
          this.localOffset = response.data.offset;
          resolve(true);
        })
      );
    },

    next() {
      let offset = this.offset;
      this.loadRoutes(this.offset);
      this.offsetStack.push(offset);
    },
    previous() {
      this.offsetStack.pop();
      let offset = this.offsetStack[this.offsetStack.length - 1];
      this.loadRoutes(offset);
    },
  },
  destroyed() {
    EventBus.$off("routeChange");
  },
};
</script>

<style scoped>
#table {
  margin-top: 10px;
}

.page {
  text-align: right;
  margin-top: 10px;
  font-size: 1rem;
}
</style>
