<template>
    <div id="content">
        <Breadcrumb>
            <BreadcrumbItem to="/">Home</BreadcrumbItem>
            <BreadcrumbItem to="/plugins">Plugin</BreadcrumbItem>
        </Breadcrumb>
        <Row>
            <Col span="12"><h1>Plugin List:</h1></Col>
            <Col span="12" style="text-align:right;position: absolute;top: 30%;right: 0px">
                <Button type="primary" size="small" @click="addPlugin">Add Plugin</Button>
            </Col>
        </Row>
        <!-- <PluginTable  v-bind:plugins="plugins"></PluginTable> -->
        <template>
            <div>
                <div id="table">
                    <Table border :columns="columns" :data="plugins">
                        <template slot-scope="{ row }" slot="name">
                            <strong>{{ row.name }}</strong>
                        </template>
                        <template slot-scope="{ row }" slot="action">
                            <Button type="primary" size="small" style="margin-right: 5px" @click="edit(row.id)">{{$t('common.view')}}</Button>
                            <Button type="error" size="small" @click="deleteDialog(row.id)">{{$t('common.delete')}}</Button>
                        </template>
                    </Table>
                </div>
            </div>
        </template>

        <div class="page">
            <ButtonGroup>
                <Button type="primary" icon="ios-skip-backward" @click="previous"
                        :disabled="offsetStack.length===0"></Button>
                <Button type="primary" icon="ios-skip-forward" @click="next" :disabled="!offset"></Button>
            </ButtonGroup>
        </div>

    </div>
</template>

<script>
    import EventBus from '@/event-bus'
    import moment from 'moment'

    export default {
        name: "PluginList",
        data() {
            return {
                columns: [
                    {
                        title: 'id',
                        key: 'id',
                        width:200
                    },
                    {
                        title: 'name',
                        key: 'name',
                    },
                    {
                        title: 'service',
                        key: 'service',
                        render:function (h, params) {
                            
                            if(params.row.service) {
                                return h('router-link',{
                                    props: {
                                        to:'/services/'+params.row.service.id
                                    }
                                },
                                params.row.service.name);
                            }

                        }
                    },
                    {
                        title: 'created_at',
                        key: 'createAtStr',
                        width:150
                    },
                    {
                        title: 'route',
                        key: 'route',
                        render: (h, params) => {
                            if(params.row.route) {
                                return <div>{params.row.route.name}</div>;
                            }
                        }
                    },
                    {
                        title: 'enabled',
                        key: 'enabled',
                        width:90,
                        render:function (h, params) {
                            return h('i-switch',{props:{value:params.row.enabled,disabled:true}})
                        }
                    },
                    {
                        title: this.$t('common.action'),
                        slot: 'action',
                        fixed: 'right',
                        width: 150,
                        align: 'center'
                    }
                ],
                plugins: [],
                services: [],
                routes: [],
                offset: '',
                offsetStack: []
            }
        },

        mounted() {
            this.loadPlugins(null);
            EventBus.$emit('changePage',{activeName:'plugin-list',openNames:['plugin']});
            EventBus.$on('pluginChange',({pluginId}) => {
                for(let plugin of this.plugins) {
                    if(plugin.id===pluginId) {
                        this.loadPlugins();
                        break;
                    }
                }
            });

        },
        methods: {
            edit(pluginId) {
                this.$router.push({path: `/plugins/edit/${pluginId}`});
            },
            deleteDialog(pluginId) {
                let _this=this;
                this.$Modal.confirm({
                    title: 'Delete Plugin',
                    content: '<p>Are you sure you would like to delete</p>' + '<p style="font-weight: bold">' + pluginId + '</p>',
                    onOk: () => {
                        _this._delete('/plugins/' + pluginId,()=> {
                            _this.$Message.info('Plugin deleted!');
                            EventBus.$emit('pluginChange', {pluginId: pluginId});
                        });
                    },
                    onCancel: () => {


                    }
                });
            },
           async loadPlugins(offset) {
                let url;
                if (offset) {
                    url = '/plugins?offset=' + offset + '&size=10';
                } else {
                    url = '/plugins?size=10';
                }

                await this.createGridValues(url);
                

            },
            async createGridValues(url) {
                await this.getServices();
                await this.getRoutes();
                await this.getPlugins(url);

                 
            },
            async getServices() {
               await new Promise((resolve) =>
                    this._get('/services', response => {
                        const services = response.data.data;
                        this.services = services;

                        resolve(true);
                    })
                );
            },
            async getRoutes() {
               await new Promise((resolve) =>
                    this._get('/routes', response => {
                        const routes = response.data.data;
                        this.routes = routes;

                        resolve(true);
                    })
                );
            },
            async handleAdjustPlugins(data) {
                await new Promise(async (resolve) => {
                    const pluginsData = data;
                    const newRowsData = [];

                    pluginsData.map(plugin => {
                        if(plugin.service && plugin.service.id){
                            this.services.map(service => {
                                if(service.id === plugin.service.id){
                                    plugin.service.name = service.name;
                                }
                            });
                        }
                        if(plugin.route && plugin.route.id){
                            this.routes.map(route => {
                                if(route.id === plugin.route.id){
                                    plugin.route.name = route.name;
                                }
                            });
                        }

                        newRowsData.push(plugin);
                    })

                    this.plugins = newRowsData;
                    resolve(true);
                });

                 
            },
            async getPlugins(url) {
                await new Promise((resolve) =>
                   
                    this._get(url, response => {
                        const plugins = response.data.data;

                        this.offset = response.data.offset;
                        plugins.map((plugin) => {
                            let createDate = moment.unix(plugin.created_at);
                            plugin.createAtStr = createDate.format('YYYY-MM-DD HH:mm:ss');
                        });
                        this.handleAdjustPlugins(plugins);

                        resolve(true);

                    })
                );
            },
            addPlugin() {
                this.$router.push({path: `/plugins/add`});
            },
            loadRoutes(offset) {
                let url;
                if (offset) {
                    url = '/routes?offset=' + offset + '&size=10';
                } else {
                    url = '/routes?size=10';
                }
                this._get(url, response => {
                    this.routes = response.data.data;
                    this.offset = response.data.offset;
                });

            },
            next() {
                let offset = this.offset;
                this.loadPlugins(this.offset);
                this.offsetStack.push(offset);
            },
            previous() {
                this.offsetStack.pop();
                let offset = this.offsetStack[this.offsetStack.length - 1];
                this.loadPlugins(offset);
            }
        },
        destroyed() {
            EventBus.$off('pluginChange');
        }
    }
</script>

<style scoped>

</style>
