.ivu-layout-header{
  background: #000 !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
  background: #343434 !important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item, 
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title{
  background: #000 !important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, 
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover,
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active{
  background: #343434 !important;
  color: #000;
}