<template>
    <div>
        <p style="margin-top:10px;font-size: 0.6rem;">&copy; OneBrain 2021</p>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
    .ivu-icon {
        font-size: 1.4rem;
    }
</style>
